<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.payse.extra.Report" />
	</listeners>
	
	<test thread-count="5" name="PayStatementTest">
		<parameter name="browser" value="firefox" />
		<!-- <parameter name="browser" value="chrome" /> -->
		<classes>
	<class name="com.payse.tcase.TC_Statement_002" />
		</classes>		
	</test> <!-- Test -->
</suite> <!-- Suite -->
